body{
    background-color: black;
}

.box{
    border: 2px solid;
    width: 100px;
    height: 100px;
    box-shadow: 0 0 0 2px;
    font-size: 70px;
    cursor: pointer;
}

h1, h3 {
    color:white;
    text-align: center;
}

#gameBoard {
    display: grid;
    text-align: center;
    grid-template-columns: repeat(3, auto);
    width: 200px;
    margin: auto;
    
}

#gameContainer {
    font-family: cursive;
    text-align: center;
    margin: auto;
    
}

.button{
    cursor: pointer;
    background: transparent;
    outline: none;
    position: relative;
    font-size: 16px;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px; 
    border-radius: 20px;
    background-color: grey;
    color: white;
  }

  #gameStatus{
    color:white;
    margin:auto;
    text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	width: 700px;
}

.box{
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 20px;
    color: white;
}

#reset{
    cursor: pointer;
    background: transparent;
    outline: none;
    position: relative;
    font-size: 16px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 8px;
    padding-bottom: 8px; 
    border-radius: 15px;
    background-color: grey;
    color: white;
    margin-top: 10px;
  }
